/**
 * Text utilities
 * ---
 * Color classnames match the variable name
 */

:root {
	--text-uppercase: {
		text-transform: uppercase;
		letter-spacing: .08em;
	}
}

.text-uppercase {
	@apply --text-uppercase;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-default-size {
	font-size: 100% !important;
}
